<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php"  colors="true">
    <testsuites>
        <testsuite name="main-tests">
            <directory>phpunit/tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-text" target="build/coverage-text.txt"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>